@import "../../variables";

.button-wrapper {
  border-radius: 50px;
  background: $yellow;
  min-width: 300px;
  width: max-content;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
    cursor: pointer;
  &:hover {
   opacity: 0.5;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
